@use "../../../styles/" as *;

// flex flex-col justify-center items-center w-full h-96 min-w-full min-h-full space-y-4
.export-file-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    min-width: 100%;
    min-height: 100%;
    > * + * {
        margin-top: 2rem;
    }
}

.text-primary {
    color: $primary;
}