.loader-container {
    // w-screen h-screen flex justify-center items-center
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-svg {
    width: 7.5em;
    animation: 1.5s spin ease infinite;
}

.ring {
    fill: none;
    /* stroke: hsla(341, 97%, 59%, 0.3); */
    stroke: #66b3ff;
    stroke-width: 2.5;
}

.ball {
    /* fill: #fc2f70; */
    fill: #0066cc;
    stroke: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}