@use "../../../styles/" as *;

.blog-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-blog-page-container {
    width: 80%;
    @include screen650 {
        width: 100%;
    }
}