@use "../../../styles/" as *;

h2 {
    font-size: larger;
    font-weight: 700;
}

.row-layout-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 0 20px;
}

.name-layout-container {
    display: flex;
    flex-direction: column;

    >*+* {
        margin-top: 10px;
    }
}

.row-layout-name {}

.row-layout-sub-name {
    color: $lightTextColor;
}

.row-layout-handler {}