//color
$white: #fff;
$brown25: #c1b086;
$blue100: #252e59;
$mainPadding: 20px;
$gray25: #dadada;
$primary: #c1b086;

//font
$titleFont: "Noto Serif", serif;
$primaryFont: "Open Sans", sans-serif;

// typography
$heading2Color: #2a2a2a;
$heading3Color: #3f3f3f;
$heading4Color: #545454;
$lightTextColor: #6a6a6a;

//scale
$max-width: 1210px;
$max-width-content: 1100px;

//responsive
$screen1199: 1199px;
$screen950: 950px;
$screen850: 850px;
$screen750: 750px;
$screen650: 650px;
$screen550: 550px;
$screen450: 450px;
$screen350: 350px;