@use "../../../styles/" as *;
@use "../../../styles/animation";

.dashboard-page-container {
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
  > * + * {
    margin-top: 30px;
  }
}

.body-section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  // flex: 3 1;
  justify-content: space-between;
  align-items: flex-start;
}

.body-main-layout {
  width: 70%;
  > * + * {
    margin-top: 10px;
  }
}

.more-information {
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-bar-container {
  width: 100%;
  border-radius: 15px;
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
}

.body-sub-layout {
  width: 30%;
  // background-color: aquamarine;
  height: 70vh;
  border: 0.5px solid $secondary;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.standing-view {
  
}
