._container {
    background-image: url("../../../../public/images/logo-square-primary.png");
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

// .mask-container {
//     width: 100%;
//     height: 100%;
//     opacity: 0.6;
// }